<div class="container">
  <form id="workerForm" #form="ngForm" [hidden]="submited">
    <div class="form-group">
      <label>First Name </label>
      <input #fname="ngModel" required class="form-control" type="text" name="FirstName" [(ngModel)]="model.firstName">
    </div>
    <div *ngIf="fname.touched && fname.invalid">
      <ngb-alert type="danger" [dismissible]="false">
        <strong>Warning!</strong> Somthing wrong
      </ngb-alert>
    </div>

    <div class="form-group">
      <label>Last Name </label>
      <input #lname="ngModel" required class="form-control" type="text" name="LastName" [(ngModel)]="model.lastName">
    </div>
    <div *ngIf="lname.touched && lname.invalid">
      <ngb-alert type="danger" [dismissible]="false">
        <strong>Warning!</strong> Somthing wrong
      </ngb-alert>
    </div>

    <label>Nationality</label>
    <select #nation="ngModel" required class="form-control" name="Nationality" [(ngModel)]="model.nationality">
      <option *ngFor="let nat of nationalities">{{ nat }}</option>
    </select>
    <div *ngIf="nation.touched && nation.invalid">
      <ngb-alert type="danger" [dismissible]="false">
        <strong>Warning!</strong> Somthing wrong
      </ngb-alert>
    </div>
    <br>
    <button (click)="onSubmit()" class="btn btn-success" [disabled]="!form.valid">Submit</button>
    <br>
  </form>
  <div class="jumbotron" [hidden]="!submited">
    <h1 class="display-4">Form submited!</h1>
    <button (click)="addAnother(); form.resetForm()">Add another</button>
  </div>
  <h4>Form {{ form.valid }}</h4>
</div>