<nav class="navbar navbar-dark bg-dark">
    <h2 class="nav-item"><a style="color:wheat;" class="nav-link" routerLink="/welcome">Alpha</a></h2>
    <ul class="nav">
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/welcome">Welcome</a></li> -->
        <li class="nav-item"><a class="nav-link" routerLink="employee-form">Add Employee</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="employee-list">Employee List</a></li>
    </ul>
</nav>
<br>
<router-outlet></router-outlet>