<div class='container'>
  <label>Filter by Last Name <input type="text" [(ngModel)]="listFilter"></label>
  <div class="alert alert-primary" role="alert" *ngIf="!workerslist">
      <h1>Loading List ...</h1>
    </div>
  <table class="table"  *ngIf="workerslist">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Nationality</th>
    <th>Phone number</th>
    <tr *ngFor="let worker of filterworkerlist">
      <td>
        {{ worker.firstName }}
      </td>
      <td>
        {{ worker.lastName }}
      </td>
      <td>
        {{ worker.nationality }}
      </td>
      <td>
        {{ worker.phoneNumber }}
      </td>
      <td>
        <a routerLink="/detail/{{worker._id.$oid }}" class="btn btn-info" >Detail</a>
      </td>
      <td>
        <button (click)="remove(worker)" class="btn btn-danger">Remove</button>
      </td>
    </tr>
  </table>
</div>